@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Concert+One&family=Gloria+Hallelujah&display=swap');


/* App.css */
body {
  background-color:darkcyan; /* Set the background color for the entire webpage */
}

.App {
  background-color:aliceblue; /* Set the background color for the todo app box */
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: 500px;
  margin-left: 500px;
  padding: 50px;
  border-radius: 10px;
  box-sizing:content-box;
  box-shadow: 10px 10px 5px rgba(3, 42, 42, 0.606);
}

.text-field {
  font-family: 'Architects Daughter', cursive;
  max-width: 5000px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid darkcyan;
  border-radius: 10px;
}

/* TodoList.css */
ul {
  list-style-type: none;
  padding: 0;
}

/* TodoListItem.css */
.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.list-item button {
  margin-left: 0.5rem;
}

.list-item.completed {
  background-color: rgb(134, 23, 23);
}

.list-item.in-progress {
  background-color: rgb(4, 51, 67);
}